/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
    .mainContainer{
        padding: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .mainContainer{
        padding: 0;
    }
}

@media only screen and (max-width: 1023px) {
    .mainContainer{
        padding: 0;
    }
}

@media only screen and (min-width: 1400px) {
    .mainContainer{
        padding: 0;
    }
}

@media only screen and (min-width: 1500px) {
    .mainContainer{
        padding: 0;
    }
}